@model IEnumerable<MusicStore.Domain.Models.Album>



<style>
    .album-card {
        position: relative;
        display: block; /* Make sure the card behaves like a block element */
        overflow: hidden;
        cursor: pointer;
        text-decoration: none; /* Remove underline from link */
        color: inherit; /* Inherit color from parent */
    }

        .album-card .card-body {
            text-align: center; /* Center text if needed */
        }

        .album-card .card-title,
        .album-card .card-text {
            color: inherit; /* Inherit color from parent link */
        }

    .album-cover {
        transition: transform 0.3s ease, opacity 0.3s ease;
        width: 100%; /* Ensure the image covers the card width */
    }

    .album-card:hover .album-cover {
        opacity: 0.9;
        transform: scale(1.05);
    }



    .album-card:hover .album-hover-overlay {
        opacity: 1;
    }

    .play-button {
        color: white;
        font-size: 2rem;
    }

    .play-button:hover {
           color: #f39c12; /* Change color on hover if desired */
     }
</style>

<!-- Display Model Errors -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<div class="container">

    <p>
        <a asp-action="Create" class="btn btn-dark">Add Album</a>
    </p>

    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-md-4 mb-4">
                <!-- Wrap the entire card in a link -->
                <a href="@Url.Action("Details", new { id = album.Id })" class="card album-card">
                    <img src="@album.CoverImageUrl" class="card-img-top album-cover" alt="Cover Image" />
                    <div class="card-body">
                        <h2 class="card-title">@album.Title</h2>
                        <p class="card-text">
                            @if (album.Artists != null && album.Artists.Any())
                            {
                                    @foreach (var artist in album.Artists)
                                    {
                                        <h6>@artist.Name</h6>
                                    }

                            }
                            else
                            {
                            <p>No artists</p>
                            }
                        </p>
                        <p class="card-text">
                            @album.Type
                        </p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
