@model MusicStore.Domain.Models.Playlist
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<style>
    

    .checkout-button {
        margin-top: 30px;
    }

    .btn-checkout {
        background-color: #f39c12;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-checkout:hover {
            background-color: #e67e22;
        }

    .play-button {
        padding-right: 10px;
        font-size: 24px;
        color: #000000; /* Adjust color as needed */
        cursor: pointer;
        transition: transform 0.3s, color 0.3s;
    }

        .play-button:hover {
            transform: scale(1.2);
            color: #0056b3; /* Adjust color on hover as needed */
        }

    .fa-play, fa-heart {
        font-size: 24px;
        color: #000000; /* Adjust color as needed */
        cursor: pointer;
        transition: transform 0.3s, color 0.3s;
    }

        .fa-play:hover, fa-heart:hover {
            transform: scale(1.2);
            color: #0056b3; /* Adjust color on hover as needed */
        }

    .custom-table td, .custom-table th {
        padding: 2.5rem; /* Adjust padding as needed */
    }

    .custom-table tbody tr:hover {
        background-color: #f8f9fa; /* Optional: hover effect */
    }

    .album-cover {
        width: 300px; /* Adjust the width as needed */
        height: auto;
    }
</style>

<div class="container">
    <!-- Playlist Header -->
    <div class="container mt-3">
        <div class="row">
            <!-- Album Cover Image -->
            <div class="col-md-4 text-center">
                <img src="@Model.UrlPicture" alt="Cover Image" class="img-fluid rounded album-cover" />
            </div>


            <!-- Album Information -->
            <div class="col-md-8">
                <h1 class="mb-3">@Model.Name</h1>
                <p class="text-muted"><strong>Created on:</strong> @Model.CreatedAt.ToString("MMMM dd, yyyy") ‧ @Model.PlaylistTracks.Count() songs </p>



                <!-- Edit Playlist Information-->
                <div class="mt-4">
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <!-- Checkout Button -->
                <div class="checkout-button">
                    <button class="btn-checkout" onclick="location.href='@Url.Action("Checkout", "Playlist", new { id = Model.Id })'">Checkout</button>
                </div>
            </div>
        </div>
     </div>
     <hr />
        <!-- Track List -->
        <div class="track-list">
            @if (Model.PlaylistTracks != null && Model.PlaylistTracks.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var track in Model.PlaylistTracks)
                        {
                            <tr>
                                <td>
                                    <a href="@track.YoutubeURL" target="_blank" style="text-decoration:none;">
                                    <i class="fa-solid fa-play play-icon"></i>  @track.Title
                                    </a>
                                </td>
                            <td><a href="/Albums/Details/@track.Album.Id" style="text-decoration:none;">@track.Album.Title </a></td>
                                <td>@track.ListenCount <i class="fa-solid fa-headphones"></i></td>
                                <td>@track.Duration <i class="fa-regular fa-clock"></i></td>
                            <td>
                                <form asp-action="RemoveTrack" asp-controller="Playlists" method="post" class="d-inline">
                                    <input type="hidden" name="trackId" value="@track.Id" />
                                    <input type="hidden" name="playlistId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No tracks in this playlist.</p>
            }
        </div>


</div>
