@model MusicStore.Domain.Models.Artist

@{
    ViewData["Title"] = "Artist Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <style>
        .artist-image {
            border-radius: 50%;
            width: 20em;
            height: 20em;
            object-fit: cover;
            margin-bottom: 20px;
        }
        .artist-details {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-top: 2em;
        }
        .artist-details h4 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .artist-description {
            font-size: 1rem;
            color: #6c757d;
        }
        .btn-custom {
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
        }
        .btn-custom:hover {
            background-color: #0056b3;
            color: #fff;
        }
     
        .btn-secondary {
            color: #E07A5F;
            background-color: white;
            border-color: #E07A5F;
            width: 10em;
         }

        .btn-secondary:hover {
            color: #ffffff;
            background-color: #E07A5F;
            border-color: #E07A5F;
            width: 10em;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 style="margin-bottom: 0; font-weight: 600; font-size: 2em; color: #E07A5F">Artist Details</h1>
        <div class="row artist-details">
            <div class="col-md-4 text-center">
                <img src="@Model.ImageAvatarURL" alt="Artist Image" class="artist-image img-fluid" />
            </div>
            <div class="col-md-8">
                <h4>@Model.Name</h4>
                <p class="artist-description">@Model.Description</p>
                <dl class="row">
                    <dt class="col-sm-3">Country</dt>
                    <dd class="col-sm-9">@Model.Country</dd>
                    <dt class="col-sm-3">City</dt>
                    <dd class="col-sm-9">@Model.City</dd>
                    <dt class="col-sm-3">Genres</dt>
                    <dd class="col-sm-9">
                        @if (!string.IsNullOrEmpty(Model.Tags))
                        {
                            var tags = Model.Tags.Split(';');
                            foreach (var tag in tags)
                            {
                                <span class="tag">@tag.Trim()</span>
                            }
                        }
                        else
                        {
                            <span>No genres available</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>

        <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning ">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger ">
                    <i class="fas fa-trash"></i>
                </a>

            <a asp-action="Index" class="btn btn-secondary">
                <i class="fa-solid fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
