@model IEnumerable<MusicStore.Domain.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<style>
    .tag {
        display: inline-block;
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #007bff;
        border-radius: 20px;
        color: #007bff;
        font-size: 0.875rem;
        white-space: nowrap;
    }

        .tag:hover {
            background-color: #007bff;
            color: #fff;
        }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <a asp-action="Create" class="btn btn-outline-dark btn-lg">
                <i class="fas fa-plus"></i> <strong>Add New</strong>
            </a>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="@item.ImageAvatarURL" class="card-img-top" alt="Artist Image" style="max-height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-center">@item.Name</h5>
                        <p class="card-text">
                            <strong>Country:</strong> @item.Country<br />
                            <strong>City:</strong> @item.City
                        </p>
                        <div class="mb-2">
                            <strong>Tags:</strong>
                            <div>
                                @if (!string.IsNullOrEmpty(@item.Tags))
                                {
                                    var tags = @item.Tags.Split(';');
                                    foreach (var tag in tags)
                                    {
                                        <span class="tag">@tag.Trim()</span>
                                    }
                                }
                                else
                                {
                                    <span>No genres available</span>
                                }
                            </div>
                        </div>
                        <p class="card-text text-muted mt-2">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <div class="mt-auto text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning ">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info ">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger ">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
