@model IEnumerable<MusicStore.Domain.Models.Artist>

@{
    ViewData["Title"] = "Artists";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<style>
    
    .card-img-top {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        border-radius: 20em;
        width: 12em;
        height: 12em;
         display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        object-fit: cover;
        margin: 1em auto; /* Center the image horizontally */
    }

    
  

    a {
        text-decoration: none;
    }

    .card-title {
        color: black;
        font-size: 1.25em;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
    }

    .card-text {
        margin-bottom: 1em;
    }

    .container-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em 10px;
    }


    .button {
        color: white;
        padding: 0.7em 2em;
        background-color: #E07A5F;
        border: none;
        border-radius: 20em;
        font-weight: 300;
    }
</style>

<div class="container" style=" max-width:1500px">

    <div class="container-1">
        <h1 style="margin-bottom: 0; font-weight: 600; font-size: 2em; color: #E07A5F">Artists</h1>
        <a asp-action="Create" class="btn button btn-md">
            <i class="fas fa-plus"></i> <strong>Add New</strong>
        </a>
    </div>
  
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
                <a href="@Url.Action("Details", new { id = item.Id })" class="album-card">
                    <img src="@item.ImageAvatarURL" class="card-img-top artist-img" alt="Artist Image" style="max-height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Name</h5>
                        <div class="mb-2">
                            <div>
                                @if (!string.IsNullOrEmpty(@item.Tags))
                                {
                                    var tags = @item.Tags.Split(';');
                                    foreach (var tag in tags)
                                    {
                                        <span class="tag">@tag.Trim()</span>
                                    }
                                }
                                else
                                {
                                    <span>No genres available</span>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
